.to-do {
    margin: 50px;
    border: 2px solid dimgray;
    width: 600px;
    height: auto;
    padding: 20px 20px 50px;
    text-align: center;
    background-color: lightcyan;
}
.title {
    color: dimgray;
}
.input {
    width: 70%;
    padding: 10px;
}
.btnAddTask {
    padding: 10px;
    width: 50px;
    margin: 0 10px;
    cursor: pointer;
}
.divList {
    display: flex;
    width: 500px;
    margin-left: 43px;
    border-bottom: 1px solid dimgray;
    position: relative;
    padding: 5px;
}
.btn {
    width: 50px;
    height: 29px;
    position: absolute;
    margin-top: 15px;
    left: 89%;
    cursor: pointer;
}
.checkBox {
    margin: 19px 12px 0 0;
}
.divList .checkB[type=checkbox]:checked + p {
    text-decoration: line-through;
}